@import "tailwindcss";

@theme {
	--color-primary: theme("colors.zinc.50");
	--color-secondary: theme("colors.zinc.300");
	--color-bprimary: theme("colors.zinc.950");
	--color-bsecondary: theme("colors.zinc.800");
	--color-dot: theme("colors.zinc.700");

	--size-width-max: 96rem;
}

@layer base {
	body {
		@apply bg-bprimary text-primary;
	}
}

@layer components {
    h1 {
        @apply text-5xl font-bold;
    }

    h2 {
        @apply text-4xl font-bold;
    }

    h3 {
        @apply text-3xl font-bold;
    }

    h4 {
        @apply text-3xl;
    }

    h5 {
        @apply text-2xl;
    }

    h6 {
        @apply text-xl;
    }

}


@utility part {
	& > * {
		@apply mx-auto max-w-[var(--size-width-max)];
	}
}

@utility bg-dotted {
	background-image: radial-gradient(
		circle,
		var(--color-dot) 0.075rem,
		transparent 0
	);
	background-size: 20px 20px;
	background-position: center;
}


@utility introduction {

    @apply text-xl;

    img {
        @apply inline-grid size-6 mx-1;
    }
}

@utility line {
    &::before {
        @apply text-primary/50 inline-block select-none w-8 text-right pr-4;
        content: attr(data-line-number);
    }
}

@utility hashtag {

    @apply font-mono relative cursor-pointer;

    &::before {
        @apply decoration-dashed;
        content: "#";
    }

    &::after {
        @apply duration-200 left-0 bottom-0 w-0 absolute h-0.5 hover:w-full;
        content: "";
        background-color: var(--color-primary);
    }

    &:hover::after {
        width: 100%;
    }

}

@keyframes scroll {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@utility mask-lg {
    mask-image: linear-gradient(to right, transparent 0%, rgb(0, 0, 0) 10%, rgb(0, 0, 0) 90%);
}

@utility scrolling {

    @apply flex flex-row overflow-hidden sm:mask-lg;

    & > * {
        @apply flex flex-row gap-8 pr-8;
        animation: scroll 15s linear infinite;
    }

    & > div > * {
        @apply h-8 w-8
    }

}

@keyframes typing {
    from { width: 0 }
    to { width: 255px }
}

@keyframes blink {
    50% { border-color: transparent }
}

@utility typewriter {
    @apply inline-block overflow-hidden border-r border-r-primary align-middle;
    white-space: nowrap;
    animation: typing 2.5s steps(40, end) forwards,
            blink 1s step-end infinite;
}

.gradient-background {
    background: linear-gradient(120deg,var(--color-bprimary),var(--color-bsecondary),var(--color-bprimary));
    background-size: 300% 300%;
}
