@import "tailwindcss";

@theme {
	--color-primary: theme("colors.zinc.50");
	--color-secondary: theme("colors.zinc.300");
	--color-bprimary: theme("colors.zinc.950");
	--color-bsecondary: theme("colors.zinc.800");
	--color-dot: theme("colors.zinc.700");

	--size-width-max: 96rem;
}

@layer base {
	body {
		@apply bg-bprimary text-primary;
	}
}

@utility part {
	& > * {
		@apply mx-auto max-w-[var(--size-width-max)];
	}
}

@utility bg-dotted {
	background-image: radial-gradient(
		circle,
		var(--color-dot) 0.075rem,
		transparent 0
	);
	background-size: 20px 20px;
	background-position: center;
}

@utility introduction {
	@apply text-xl;
}

@utility line {
	&::before {
		@apply text-primary/50 inline-block select-none w-8 text-right pr-4;
		content: attr(data-line-number);
	}
}

@utility resize-underline-none {

    @apply relative;

    &::after {
        @apply duration-200 left-0 bottom-0 w-0 absolute h-0.5 hover:w-full;
        content: "";
        background-color: var(--color-primary);
    }
}

@utility resize-underline {
    &::after {
        width: 100%;
    }
}

@utility hashtag {
	@apply font-mono relative cursor-pointer resize-underline-none hover:resize-underline;

	&::before {
		@apply decoration-dashed;
		content: "#";
	}
}

@keyframes scroll {
	0% {
		transform: translateX(0%);
	}
	100% {
		transform: translateX(-100%);
	}
}

@utility mask-lg {
	mask-image: linear-gradient(
		to right,
		transparent 0%,
		rgb(0, 0, 0) 10%,
		rgb(0, 0, 0) 90%
	);
}

@utility animation-scrolling {
	--scrolling-time: 15s;
	animation: scroll var(--scrolling-time) linear infinite;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 255px;
	}
}

@keyframes blink {
	50% {
		border-color: transparent;
	}
}

@utility typewriter {
	@apply inline-block overflow-hidden border-r border-r-primary align-middle;
	white-space: nowrap;
	animation:
		typing 2.5s steps(40, end) forwards,
		blink 1s step-end infinite;
}

.gradient-background {
	background: linear-gradient(
		120deg,
		var(--color-bprimary),
		var(--color-bsecondary),
		var(--color-bprimary)
	);
	background-size: 300% 300%;
}


@keyframes fadeOut{
    0% {
        display: block;
    }
    100% {
        display: none;
        opacity: 0;
    }
}

@utility fade-out {
    animation: fadeOut .4s ease-in-out forwards;
}

@keyframes fadeIn{
    0% {
        display: block;
        opacity: 0;
    }
    100% {
        display: block;
    }
}

@utility fade-in {
    animation: fadeIn .4s ease-in-out forwards;
}